transformers
datasets
cmake
lit
ninja
protobuf
sentencepiece
exllama @ https://github.com/jllllll/exllama/releases/download/0.0.17/exllama-0.0.17+cu117-cp310-cp310-linux_x86_64.whl
tqdm
typer
rathe @ git+https://github.com/cg123/rathe.git@feature/rp
vllm
flash-attn
typing-extensions
